/* *** RESET *** */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    border: 0;
    margin: 0;
    padding: 0;
}
/* *** /RESET *** */


/* *** BASICS *** */

/* Basic .less variables to define */
@pink : #ccc;
@blue : #ccc;
@red : #ccc;
@aColor : #BADA55;
@textColor : #414342;

body {
	color: @textColor;
}

h1, h2, h3, h4, h5, h6 {
	font-weight:normal;
}

a {
	color:@aColor;
}

ul, ol {
	list-style-position:inside;
}

/* *** /BASICS *** */


/* *** UTILES *** */

.left {float:left;}
.right {float:right;}
.clear {clear:both;}

.hide {display:none;}

.padder { padding:10px; }

.pointer {cursor:pointer;}

.horizontalList { list-style:none; }
.horizontalList > li { float:left; margin-right:10px; }

.absolute {position:absolute;}
.relative {position:relative;}

/* *** /UTILES *** */