/*rgb(249, 48, 42);*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline; }
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
a{
  text-decoration: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0; }

fieldset, img {
  border: 0; }

address, caption, cite, code, dfn, var {
  font-style: normal;
  font-weight: normal; }

ol, ul {
  list-style: none; }

q:before, q:after {
  content: ''; }

abbr, acronym {
  border: 0; }

@font-face {
  font-family: '2d';
  src: url("2Dumb-webfont.ttf") format("truetype"); }

@font-face {
  font-family: 'Boris';
  src: url("BorisBlackBloxx.ttf") format("truetype"); }

@font-face {
  font-family: 'jigglish';
  src: url("budmo jigglish.ttf") format("truetype"); }

@font-face {
  font-family: 'jiggler';
  src: url("budmo jiggler.ttf") format("truetype"); }

@font-face {
  font-family: 'Greenpil';
  src: url("GREENPIL.otf"); }

@font-face {
  font-family: 'Harabara';
  src: url("Harabara.ttf") format("truetype"); }

@font-face {
  font-family: 'handsean';
  src: url("handsean.ttf") format("truetype"); }

@font-face {
  font-family: 'icons';
  src: url("icons.eot");
  /* EOT file for IE */
  src: url("icons.ttf") format("truetype"); }

@font-face {
  font-family: 'icons2';
  src: url("icons2.ttf") format("truetype"); }

@font-face {
  font-family: 'infinita';
  src: url("Infinita.otf");
  /* EOT file for IE */
  src: url("Infinita.ttf") format("truetype"); }

@font-face {
  font-family: 'karabine';
  src: url("karabine.ttf") format("truetype"); }

@font-face {
  font-family: 'lucidaGrande';
  src: url("lucidaGrande.ttf") format("truetype"); }

@font-face {
  font-family: 'movie';
  src: url("movie.ttf") format("truetype"); }

@font-face {
  font-family: 'musicPlayer';
  src: url("musicPlayer.ttf") format("truetype"); }

@font-face {
  font-family: 'neon';
  src: url("neon.ttf") format("truetype"); }

@font-face {
  font-family: 'paint';
  src: url("paint.ttf") format("truetype"); }

@font-face {
  font-family: 'pixel';
  src: url("pixel.ttf") format("truetype"); }

@font-face {
  font-family: 'pixel2';
  src: url("pixel2.ttf") format("truetype"); }

@font-face {
  font-family: 'pricedown';
  src: url("pricedown bl.otf");
  /* EOT file for IE */
  src: url("pricedown bl.ttf") format("truetype"); }

@font-face {
  font-family: 'rpg';
  src: url("rpg.ttf") format("truetype"); }

@font-face {
  font-family: 'textFont';
  src: url("textFont.ttf") format("truetype"); }

@font-face {
  font-family: 'velvenda';
  src: url("velvenda cooler.ttf") format("truetype"); }

@font-face {
  font-family: 'write';
  src: url("write.ttf") format("truetype"); }

@font-face {
  font-family: 'archivo';
  font-style: normal;
  font-weight: 400;
  src: local('Archivo Narrow Regular'), local('ArchivoNarrow-Regular'), url(http://themes.googleusercontent.com/static/fonts/archivonarrow/v1/DsLzC9scoPnrGiwYYMQXphdbPw3QSf9R-kE0EsQUn2A.woff) format('woff');
}
  .error{
    text-align: center;
  padding: 5px;
  display: none;
  margin: auto;
  border: 1px solid #B30000;
  background-color: #FFCECE;
  color: #182145;
}
.error a:hover{
  text-decoration: underline;
}